
.display-3 {
    font-size: 1rem;
    padding-left: 10%;
    padding-right: 10%;
}

.head {
    padding-left: 38%;
    padding-right: 38%;
    padding-top: 5%;

}
 
 .navbar-nav{
    padding-left: 38%;
    padding-right: 38%;

 }
.section_product{
    padding-left: 8%;
    padding-right: 8%;
}
.center_production {
    padding-left: 38%;
    padding-right: 38%;
}